@page "{query}"
@model SimpleBlog.Pages.Search.TagModel
@{
	ViewData["Title"] = "Search - " + Model.Query;
}


<!-- Page Content -->
<div class="container">

	<div class="row">

		<!-- Blog Entries Column -->
		<div class="col-md-8">

			@foreach (var post in Model.Posts)
			{

				<!-- Blog Post -->
				<div class="card mb-4 bg-dark text-white">
					@if (post.CoverImage != null)
					{
						<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
					}
					<div class="card-body ">
						<h2 class="card-title">@post.Title</h2>
						<p class="card-text">@post.Content</p>
						<a asp-page="Post" asp-route-id="@post.PostId" class="btn btn-primary">Read More &rarr;</a>
					</div>
					<div class="card-footer text-muted">
						Posted on @post.Posted

						<span class="float-right">By: @post.PostedBy</span>
					</div>
				</div>

			}



			<!-- Pagination -->
			<ul class="pagination justify-content-center mb-4">
				<li class="page-item">
					<a class="page-link" href="#">&larr; Older</a>
				</li>
				<li class="page-item disabled">
					<a class="page-link" href="#">Newer &rarr;</a>
				</li>
			</ul>

		</div>
		@await Html.PartialAsync("_Sidebar")






	</div>
	<!-- /.row -->

</div>
<!-- /.container -->